<div class="contact">
  <div class="contact-block">
    <div class="background"></div>
    <h3>Feel free to contact me</h3>
    <a href="mailto:valentinbenedet@gmail.com">
      <h2>valentinbenedet&#64;gmail.com</h2>
    </a>
    <a
      href="https://www.linkedin.com/valentinbenedet"
      target="_blank"
      rel="noopener noreferrer"
    >
      <h2>
        Find me on
        <img
          class="linkedin"
          src="/images/logo-linkedin.png"
          alt="LinkedIn logo"
        />
      </h2>
    </a>
  </div>
</div>
