<div class="who-am-i">
  <section class="hero">
    <h1>About Me</h1>
    <p>
      From a full-stack developer to a parachutist artilleryman, my journey is
      as diverse as my passions.
    </p>
  </section>

  <section class="story">
    <h2>My Professional Journey</h2>
    <p>
      I started my career at <strong>Dietsmann Monaco</strong>, where I spent 4
      years honing my skills as a full-stack developer. I then joined
      <strong>Schneider Electric</strong> for 2 years, contributing to
      innovative projects in the same role. Most recently, I served for 6 months
      in the <strong>French Army</strong> at the <strong>35th RAP</strong>
      as a parachutist artilleryman, embracing discipline and teamwork.
    </p>
  </section>

  <section class="education">
    <h2>My Educational Background</h2>
    <p>
      My academic journey began with a
      <strong>Scientific Baccalaureate</strong> in 2016. I then pursued a
      <strong>DUT in Computer Science</strong> at the University of Nice,
      graduating in 2018.
    </p>
  </section>

  <section class="passions">
    <h2>My Passions</h2>
    <p>
      I am a tech enthusiast with a deep love for
      <strong>computer hardware</strong>. When I'm not coding, you can find me
      painting <strong>miniature figurines</strong>, capturing moments with
      <strong>film photography</strong>, or working at
      <strong>music festivals</strong>. I am a fan of
      <strong>metal music</strong>, an avid <strong>gamer</strong>, and someone
      who loves exploring new interests. My curiosity knows no bounds, and I
      thrive on learning and experiencing new things.
    </p>
  </section>

  <section class="technologies">
    <h2>Technologies I Use</h2>
    <p>
      As a <strong>full-stack developer</strong>, my primary expertise lies in
      <strong>Angular</strong> and <strong>C#</strong>. However, I am also
      proficient in a variety of other technologies, including:
    </p>
    <ul>
      <li>Bootstrap</li>
      <li>Copilot</li>
      <li>Firebase</li>
      <li>Kotlin</li>
      <li>Nuxt</li>
      <li>PHP</li>
      <li>React</li>
      <li>Svelte</li>
      <li>Tailwind CSS</li>
    </ul>
    <p>
      While I may not be an expert in all of these, I am fully capable of using
      them in a professional context. Many of the projects showcased in the
      <a routerLink="/catalog">Catalog</a> page were built using these
      technologies. I am always eager to expand my skill set and learn new
      technologies, particularly in the field of
      <strong>mobile development</strong>.
    </p>
  </section>
</div>
