<pf-header #header [toggleBanner]="true"></pf-header>
<div class="home">
  <!-- Hero Section -->
  <div class="hero">
    <h1>Welcome to My Portfolio</h1>
    <p>
      Discover my projects, skills, and how I can help bring your ideas to life.
    </p>
    <!-- <div class="cta-buttons">
      <a href="#catalog" class="primary">View My Work</a>
      <a href="#contact" class="secondary">Contact Me</a>
    </div> -->
  </div>

  <!-- Catalog Section -->
  <div class="catalog">
    <h2>My Projects</h2>
    <div class="carousel">
      @for(project of projects; track project.name) {
      <div class="carousel-item raise-on-hover" [routerLink]="project.path">
        <div
          class="item-image"
          [style]="'background-image: url(' + project.image + ')'"
        ></div>
        <!-- <img src="/images/projects/freams.jpg" alt="Freams" /> -->
        <h3>{{ project.name }}</h3>
        <p>
          {{ project.description }}
          An Airbnb-style app with a community focus, perfect for backpackers
        </p>
      </div>
      }
    </div>
  </div>

  <!-- About Me Section -->
  <div class="about">
    <h2>About Me</h2>
    <div class="slider">
      <div class="group">
        @for(skill of skills; track skill.name) {
        <div
          class="skill"
          [style]="'background-image: url(' + skill.logo + ')'"
        ></div>
        } @for(skill of skills; track skill.name) {
        <div
          aria-hidden
          class="skill"
          [style]="'background-image: url(' + skill.logo + ')'"
        ></div>
        }
      </div>
    </div>
  </div>

  <!-- Contact Me Section -->
  <div class="contact">
    <div class="content">
      <h2>Let's Work Together</h2>
      <p>Have a project in mind? Let's bring it to life!</p>
      <pf-button text="Contact me on"></pf-button>
    </div>
  </div>
</div>
