<div class="home">
  <!-- Hero Section -->
  <div class="hero">
    <h2>Welcome to My Portfolio</h2>
    <p>
      Discover my projects, skills, and how I can help bring your ideas to life.
    </p>
  </div>

  <!-- Catalog Section -->
  <div class="catalog">
    <h2>My Projects</h2>
    <div class="carousel">
      @for(project of projects; track project.name) {
      <div class="carousel-item raise-on-hover" [routerLink]="project.path">
        <div
          class="item-image"
          [style]="'background-image: url(' + project.image + ')'"
          [title]="project.name"
        ></div>
        <h3>{{ project.name }}</h3>
        <p>{{ project.description }}</p>
      </div>
      }
    </div>
  </div>

  <!-- About Me Section -->
  <div class="about">
    <h2>I Trust Them</h2>
    <div class="slider">
      <div class="group">
        @for(skill of skills; track skill.name) {
        <div
          class="skill"
          [style]="'background-image: url(' + skill.logo + ')'"
        >
          <div class="tooltip">
            <h4>{{ skill.name }}</h4>
          </div>
        </div>
        } @for(skill of skills; track skill.name) {
        <div
          aria-hidden="true"
          class="skill"
          [style]="'background-image: url(' + skill.logo + ')'"
        >
          <div class="tooltip">
            <h4>{{ skill.name }}</h4>
          </div>
        </div>
        }
      </div>
    </div>
  </div>

  <!-- Contact Me Section -->
  <div class="contact">
    <div class="content">
      <h2>Let's Work Together</h2>
      <p>Have a project in mind? Let's bring it to life!</p>
      <pf-button text="Contact Me" class="primary"></pf-button>
    </div>
  </div>
</div>
