.header {
	position: absolute;
	top: 0;
	width: 100%;
	height: var(--header-height);
	background-color: var(--color-black);
	color: var(--color-white);
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: var(--footer-height);
	background-color: var(--color-black);
	color: var(--color-white);
}

.content {
	margin: calc(var(--header-height)) 0 calc(var(--footer-height)) 0;
	height: calc(100% - var(--header-height) - var(--footer-height));
}
