.language-selection {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;

	.side {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		position: relative;

		transition: width 0.3s;
		border-right: solid black 1px;

		&:last-child {
			border-right: none;
			border-left: solid black 1px;
		}

		&:before {
			content: "";
			position: absolute;
			width: 200%;
			height: 200%;
			top: -50%;
			left: -50%;
			z-index: 0;
			background-size: 6em;
		}

		.hover-zone {
			z-index: 1;
			width: 60%;
			min-width: 200px;
			height: 240px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			.flag {
				width: 200px;
				height: 120px;
				background-size: cover;
				border-radius: 2px;

				box-shadow: rgba(0, 0, 0, 0.27) 0px 0px 0.25em,
					rgba(0, 0, 0, 0.05) 0px 0.25em 1em;

				transition: transform 0.3s;
			}
		}

		&:has(.hover-zone:hover) {
			.flag {
				transform: scale(1.4);
			}
			&:has(.french) {
				&:before {
					transform: rotate(30deg);
					background-image: url("/images/rooster_emoji.png");
				}
			}
			&:has(.english) {
				&:before {
					transform: rotate(-30deg);
					background-image: url("/images/teacup_emoji.png");
				}
			}

			width: 100%;

			.hover-zone {
				width: 100%;

				.flag {
					box-shadow: rgba(255, 255, 255, 0.27) 0px 0px 0.25em,
						rgba(255, 255, 255, 0.05) 0px 0.25em 1em;
				}
			}
		}
	}

	.french {
		background-image: url("/images/fr_flag.png");
	}

	.english {
		background-image: url("/images/en_flag.png");
	}
}
