<div class="header" [ngClass]="{ rounded: hasScrolled }">
  <div class="header-content">
    <div class="logo" routerLink="/"></div>
    <ul class="navigation">
      @for(page of pages; track page.name) {
      <li [routerLink]="page.path">
        <span class="pagename">
          @if(page.icon) {
          <img class="icon" [src]="page.icon" />
          } @else {
          <span class="text">{{ page.name }}</span>
          }
        </span>
      </li>
      }
    </ul>
  </div>

  <div class="banner" [ngClass]="{ show: !hasScrolled && toggleBanner }">
    <div class="content">
      <h2>Valentin Benedet</h2>
      <h5>
        Welcome to my Web Developer portfolio ! Let's browse some of my
        creations
      </h5>
      <pf-button
        class="button"
        type="accent"
        routerLink="/catalog"
        text="Browse catalog"
      ></pf-button>
    </div>
  </div>
</div>
