:root {
  // Colors
  --color-dark: #111827; /* Noir profond */
  --color-light: #f3f4f6; /* Gris clair */
  --color-primary: #00b894; /* Vert Shopify */
  --color-accent: #60a5fa;

  --gray-100: #f3f4f6; /* Gris très clair */
  --gray-200: #e5e7eb; /* Gris clair */
  --gray-300: #d1d5db; /* Gris doux */
  --gray-400: #9ca3af; /* Gris moyen */
  --gray-500: #6b7280; /* Gris neutre */
  --gray-600: #4b5563; /* Gris légèrement foncé */
  --gray-700: #374151; /* Gris foncé */
  --gray-800: #1f2937; /* Gris très foncé */
  --gray-900: #12141f; /* Presque noir (idéal pour un fond) */

  // Sizes
  --header-height: 100px;
  --home-banner-height: 190px;

  --space-vertical: 1rem;
  --space-horizontal: 2.5rem;

  font-size: 16px;
  --xxs: 0.25rem;
  --xs: 0.5rem;
  --s: 0.75rem;
  --m: 1rem;
  --l: 1.25rem;
  --xl: 1.75rem;
  --xxl: 2.5rem;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: "Inter", sans-serif;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 4.21rem; /* 67.36px */
  line-height: 1em;
}

h2 {
  font-size: 3.158rem; /* 50.56px */
  line-height: 1.4em;
}

h3 {
  font-size: 2.369rem; /* 37.92px */
  line-height: 1.6em;
}

h4 {
  font-size: 1.777rem; /* 28.48px */
  line-height: 1.7em;
}

h5 {
  font-size: 1.333rem; /* 21.28px */
  line-height: 1.8em;
  color: var(--gray-700);
  font-weight: 100;
}

p {
  font-size: 0.75rem; /* 12px */
  line-height: 2em;
}

li {
  list-style-type: none;
}

.logo-banner {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.raise-on-hover {
  position: relative;
  top: 0;
  transition: all 0.2s ease;

  &:hover {
    top: -10px;
    box-shadow: 0 6px 10px 2px #959595c0;
  }
}
