<footer class="footer">
  <div class="content">
    <div class="contact">
      <div class="mail"></div>
      <div class="social">
        <h5>Social</h5>
        <p>
          Contact me &#64;
          <a href="mailto:valentinbenedet@gmail.com">
            valentinbenedet&#64;gmail.com
          </a>
        </p>
        <a
          href="https://www.linkedin.com/valentinbenedet"
          target="_blank"
          rel="noopener noreferrer"
        >
          <p>
            Find me on
            <img
              class="linkedin"
              src="/images/logo-linkedin.png"
              alt="LinkedIn logo"
            />
          </p>
        </a>
      </div>
    </div>
    <div class="menu" role="navigation">
      <h5>Website menu</h5>
      <ul>
        @for(page of pages; track page.name) {
        <p>
          <a [routerLink]="page.path">{{ page.name }}</a>
        </p>
        }
      </ul>
    </div>
  </div>
  <div class="credits">
    <h5>Valentin Benedet | {{ year }}</h5>
  </div>
</footer>
