<div class="catalog">
  <div class="main-content">
    @if (selectedProject) {
    <iframe
      class="project-iframe"
      [src]="sanitizedUrl"
      frameborder="0"
      [ngStyle]="selectedProject.customCss"
    ></iframe>
    } @else {
    <div class="no-selection">
      <p>Please select a project from the list to view details.</p>
    </div>
    }
  </div>
  <div class="sidebar">
    <div class="gradient-top"></div>
    <section class="section-one">
      <h3>Filter by Technology</h3>
      <div class="filter-logos">
        @for(skill of skills; track skill.name) {
        <div
          class="filter-logo"
          [class.active]="activeFilters.includes(skill.name)"
          (click)="toggleFilter(skill.name)"
          [style]="'background-image: url(' + skill.logo + ')'"
        ></div>
        }
      </div>
    </section>
    <section class="section-two">
      <h3>Filtered Projects</h3>
      <div class="project-list">
        @for(project of filteredProjects; track project.name) {
        <div
          [ngClass]="{
            active: selectedProject === project,
            'raise-on-hover': selectedProject !== project
          }"
          class="project-item"
          (click)="selectProject(project)"
        >
          <h4>{{ project.name }}</h4>
          <p>Tags: {{ project.tags.join(", ") }}</p>
        </div>
        }
      </div>
    </section>
    <div class="gradient-bottom"></div>
  </div>
</div>
